body {
    font-family: sans-serif;
}

h1 {
    font-family: Luminari;
    font-size: 30px;
    color: rgb(0, 0, 255);
}

ul {
    list-style-type: none;
    text-align: center;
}

ol {
    font-weight: 700;
}

li {
    color: blue;
    background-color: lightpink;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px;
    padding-left: 30px;
}

img {
    height: 200px;
}

h3 {
    text-decoration-line: underline;
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
}