h1{
    color:blue;
    font-family: Luminari; 
    font-size: 30px;
}
body{
    font-family: sans-serif ;
    background-image: radial-gradient(white, rgb(53, 55, 175));
}
.center{
    height: 250px;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h3{
    text-decoration: underline;
}
ul{
    list-style-type: none;
}
ol{
    font-weight: 700;
}
li{
    color: rgb(0 ,0, 255);
    text-align: center;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px;
    background-color: lightpink;
    padding: 30px;
}
p {
    padding-top: 20px;
    padding-bottom: 20px;
}
