h1 {
    color:blue;
    font-family: Luminari;
    font-size: 30px;
}

h3 {
    text-decoration: underline;
}

img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: sans-serif;
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
}

li {
    text-align: center;
    color: blue;
    background-color: lightpink;
    border: 1px solid red ;
    border-radius: 10px;
    padding-left: 30px;
}

ul {
    list-style-type: none;
}

ol {
    font-weight: bold;
}