h1 {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}

img {
    width: 18%;
    height: 200px;
    margin-left: auto;
    margin-right:auto ;
    display: block;
}

body {
    font-family: sans-serif;
}


p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}

h3{
    font-style: bold;
    text-decoration: underline;
}

li{
    text-align: center;
    color: rgb(0,0,255);
    font-family: sans-serif;
    padding-left: 30px;
    border: 1px solid rgb(225, 0, 0);
    background-color: rgb(255,182,193);

}

.Sel-1 {
    border-radius: 1px solid rgb(225, 0, 0);
    font-weight: 700;
    background-color: rgb(255,182,193);
    list-style-type: none;
}

body {
    background-color: rgb(159, 181, 223);
    
}
.Sel-2{
    border-radius: 4ex;
    background-color: lightcoral;
    font-weight: 700;
    background-color: rgb(255,182,193);
    font-weight: 700;

}
.Sel-3{
    box-shadow: 0 0 3px rgb(128, 5, 5);
    font-weight: 700;
    list-style-type: none;
    background-color: rgb(255,182,193);
    border: 1px solid rgb(225, 0, 0);
}

ol {
    font-weight: 700;
}

ul {
    list-style-type: none;
}