@import url('https://fonts.googleapis.com/css?family=Calistoga&display=swap');

h1{
    font-family: 'Calistoga', cursive;
    color: navy;
}

ul{
    list-style: none;
}

ol {
    font-weight: bold;
}

li {
    text-align: center;
    border: 1px solid red;
    border-radius: 25px;

}