h1 {
  font-family: 'Livvic', sans-serif;
  color: purple;
  font-size: 25px;
}

#links {
  list-style-type:none
}

li {
  border-radius: 25px;
  border: 1px solid red;
  text-align: center;
  background: pink;
  color: blue

}

#orderedList {
  font-weight: bold;
}

body {
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 36%, rgba(148,187,233,1) 71%);
  font-family: sans-serif;
}

#picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

h3 {
  text-decoration: underline;
  font-size: 20px;
}

h2, h4, h5, h6 {
  font-size:20px
}

p {
  padding-top: 20px;
  padding-bottom: 20px;
}

ul, ol {
  padding-left: 30px;
}
