
@import url(https://fonts.googleapis.com/css?family=Cinzel);

html{
background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 6%, rgba(89,181,178,1) 29%, rgba(244,243,240,1) 72%);
}

body {
    font-family: sans-serif;
}

h1 {
    font-family: fantasy;
    font-size: 25px;
    color: darkcyan;
}

h3,h2 {
    text-decoration: underline;
    font-size: 20px;
}

li {
    text-align: center;
    border-style: solid;
    border-color: red;
    border-width: 1px;
    border-radius: 25px;
    color: blue;
    background-color: lightpink;
    padding-left: 30px;

}
p {
    padding-top: 20px;
    padding-bottom: 20px;
}

img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.linklist {
   list-style-type: none; 
}

.ordered {
    font-weight: bold
}

