h1 {
    font-family: 'Vibes', cursive;
    color: green;
}

ul {
    list-style-type:  none;
}

ol {
    font-weight: bold;
}

li {
    text-align: center;
    border: 1px solid red;
    border-radius: 10px;
    color: blue;
    background: lightpink;
}

img {
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: sans-serif;
}

h3 {
    text-decoration-line: underline;
}

html {
background: rgb(51,221,186);
background: radial-gradient(circle, rgba(51,221,186,1) 11%, rgba(225,56,137,1) 36%, rgba(70,234,252,1) 100%);
}