h1{
    font-family: Luminari;
    color: Blue;
    font-size: 30px;
}
ul {
    list-style-type: none;
}

ol {
    font-weight: bold;
}

li {
    text-align: center;
    border: 1px solid red ;
    border-radius: 10px;
    color: blue;
    background-color: lightpink;
    padding-left: 30px;
}
img{
    height: 200px;
}

body {
    font-family: sans-serif;
}

h3{
    text-decoration: underline;
}

p{
    padding-top: 20px;
    padding-bottom: 20px;
}