h1{
    font-family: Luminari;
    color: rgb(0, 0, 255);
    font-size: 30px;
}

ol{
    font-weight: 700;
}

li{
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(255, 0, 0);
    color: rgb(0, 0, 255);
    background-color: rgb(255, 182, 193);
}

img{
    height: 200px;
}

body{
    font-family: sans-serif;
}

h3{
    text-decoration: underline;
}

p{
    padding-top: 20px;
    padding-bottom: 20px;
}

