body {
    font-family: sans-serif;
    background-color: rgb(119, 223, 247);
}

h1 {
    font-size: 30px;
    font-family: Luminari;
    color: blue;
}

h3 {
    text-decoration: underline;
}

li {
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px;
    color: rgb(0, 0, 255);
    background-color: rgb(255, 182, 193);
    padding-left: 30px;
}

ul {
    list-style-type: none;
    text-align:center;
    padding-left: 30px;
}

ol {
    font-weight: bold;
    text-align: center;
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
}

img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
