@import url(https://fonts.googleapis.com/css?family=Montserrat:100);

h1{
 font-family:'Montserrat', serif;
 color: white;
 font-size:25px;
}

 ul{ 
     list-style-type:none;
 }

ol{
     font-weight: 300
 }

li{
    text-align: center;
    border: 1px inset red;
    border-radius: 8px;
    color: blue;
    background: lightpink;
    padding-left: 30px;
}
img{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: auto;
     height: 200px;
 }

body{
    font-family: sans-serif;
    background: linear-gradient(205deg, rgba(239,248,22,1) 31%, rgba(20,159,75,1) 53%, rgba(5,99,162,1) 69%, rgba(19,0,255,1) 100%);
}
h3{
text-decoration: underline;
font-size: 20px;
}

p{
    padding-top: 20px;
    padding-bottom: 20px;
}
h2, h4, h5, h6{
    font-size: 20px;
}






/* handwriting font */
/* @import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
h1{
    font-family: 'Shadows Into Light', cursive;
} */