body {
  background: rgb(195,108,34);
  background: linear-gradient(0deg, rgba(195,108,34,0.39119397759103647) 12%,
              rgba(253,169,45,0.8561799719887955) 68%);
  color: slategray;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  text-align: center;

}

h1, h3 {
  font-family: 'Varela', sans-serif;
  font-size: 20px;
}

h3 {
  text-decoration: underline;;
}

li {
  background-color: lightpink;
  border: 1px;
  border-color: red;
  border-radius: 50px;
  border-style: solid;
  color: darkblue;
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  text-align: center;
}

p {
  padding: 20px 10px 20px 10px;
}

ol {
  list-style-position: inside;
  padding-left: 30px;
}

ol li {
  font-weight: bolder;
}

ul {
  list-style: none;
  padding-left: 30px;
}

#owlyImg {
  height: 200px;
  width: auto;
}

#owlName {
  color: slateblue;
  font-size: 25px;
}

#reset {
  color: #25a7da;
  padding: 15px 15px 15px 15px;
}

#submitHere {
  color: #25a7da
  font-family: 'Varela', sans-serif;
}
